						   		<div id="textPolicy" style="display: block;">
									<h3 style="font-family: serif;">CHARME MEMBERS – TERMS AND CONDITIONS</h3>


                                    <p dir="ltr">
    These Charme Member Terms and Conditions (this “Agreement”) apply to your use as a Charme Member of:
</p>
<br/>
<p dir="ltr">
    (1) the Charme website at http://www.charmeapp.com and all affiliated websites owned and operated solely by Charme (collectively, the “Charme Site”),
</p>
<p dir="ltr">
    (2) the appointment booking engine made available by Charme through the Charme Site and the Charme-branded application for smartphone devices
    (collectively, the “Charme Application”), and any other online properties of Charme (the “Charme Booking Engine”) as described in Part I below,
</p>
<p dir="ltr">
    (3) the payment for services made available by Charme Professionals through the Charme Application (the “Charme Payment Services”), as described in Part II
    below,
</p>
<p dir="ltr">
    (4) any other services or features made available to Charme Members through the Charme Site or the Charme Application. Together, the items in (1) through
    (4) are the “Charme Member Services”.
</p>
<br/>
<p dir="ltr">
    In this Agreement, “Charme” and “we” mean Charme, a brand under Efetalena Marketing LTD (RC1296483), a limited liability company duly incorporated pursuant
    to the Laws of the Federal Republic of Nigeria, and “Charme Member” and “you” mean any person using the Charme Member Services to receive beauty and
    fitness services from Charme Professionals (“Charme Professionals”) through the Charme Site and Charme Application.
</p>
<br/>
<p dir="ltr">
    Charme may update or revise this Agreement from time to time. You agree that you will review this Agreement periodically. You are free to decide whether or
    not to accept a modified version of this Agreement, but accepting this Agreement, as modified, is required for you to continue using the Charme Member
    Services. You may have to click “accept” or “agree” to show your acceptance of any modified version of this Agreement. If you do not agree to the terms of
    this Agreement or any modified version of this Agreement, your sole recourse is to terminate your use of the Charme Member Services, in which case you will
    no longer have access to the Charme Member Services or your Charme Member Account (as defined below). Except as otherwise expressly stated by Charme, any
    use of the Charme Member Services is subject to the version of this Agreement in effect at the time of use.
</p>
<p dir="ltr">
    By accessing or using the Charme Member Services or clicking “accept” or “agree” to this Agreement,
</p>
<br/>
<p dir="ltr">
    (1) you acknowledge that you have read, understand, and agree to be bound by this Agreement, and
</p>
<p dir="ltr">
    (2) you represent and warrant that you are of legal age and not prohibited by law from accessing or using the Charme Member Services.
</p>
<br/>
<p dir="ltr">
    PART I – CHARME BOOKING ENGINE
</p>
<p dir="ltr">
    1. Charme provides the Charme Booking Engine to Charme Members for the purpose of assisting Charme Members in securing Charme Professionals to provide
    beauty and fitness services. In response to a Charme Member’s request to book a Charme Professional through the Charme Site or Charme Application, Charme
    directly notifies the Charme Professional of the Charme Member’s booking request through the Charme Booking Engine. A Charme Professional may accept or
    reject a Charme Member’s booking request in his or her sole discretion. Charme Professionals at no time shall be required to accept a Charme Member’s
    booking request.
</p>
<br/>
<p dir="ltr">
    2. Each Charme Professional shall be free in his or her sole discretion to determine at what times and on what dates a Charme Professional shall make
    himself or herself available on the Charme Booking Engine to accept booking requests from Charme Members.
</p>
<br/>
<p dir="ltr">
    PART II – PAYMENT TERMS
</p>
<br/>
<p dir="ltr">
    3. In order to use the Charme Payment Services, you must provide credit card or debit card information for at least one operational and valid credit card
    or debit card through the Charme Application. You may add, delete, and edit the credit card or debit card information you have provided from time to time
    through the Charme Application.
</p>
<br/>
<p dir="ltr">
    4. Upon the Charme Professional’s confirmation to Charme that an appointment with a Charme Member has been completed the Charme Member’s credit card or
    debit card is immediately charged in full for the service.
</p>
<br/>
<p dir="ltr">
    5. In the event a Charme Member desires to cancel an appointment, such cancellation will be at no charge to the Charme Member if cancelled within the first
    five (5) minutes of a confirmed booking. If a Charme Member cancels within five (5) minutes to fifteen (15) minutes of a confirmed booking the Charme
    Member will be charged 50% of the total cost of the services as a cancellation fee. If a Charme Member cancels more than fifteen (15) minutes after a
    confirmed booking the Charme Member will be charged 100% of the total cost of the services as a cancellation fee.
</p>
<br/>
<p dir="ltr">
    6. To the extent permitted by applicable law and subject to our privacy policy, you acknowledge and agree that we may use certain third-party vendors and
    service providers to process payments.
</p>
<br/>
<p dir="ltr">
    PART III – GENERAL TERMS
</p>
<br/>
<p dir="ltr">
    7. Charme is committed to helping you safeguard your privacy online. Please review our privacy policy for details about how we collect, use, and disclose
    information in connection with the Charme Member Services.
</p>
<br/>
<p dir="ltr">
    8. You are required to create a Charme Member account with Charme through the Charme Site or Charme Application (“Charme Member Account”) in order to
    receive services from Charme Professionals. When registering for a Charme Member Account, you must provide true, accurate, current, and complete data about
    yourself (“Charme Member Registration Data”). You also agree to promptly update the Charme Member Registration Data to keep it true, accurate, current, and
    complete. You are solely responsible for maintaining the confidentiality of your Charme Member Account and the information in your Charme Member Account,
    and, except as otherwise required by applicable law, you are solely responsible for all use of your Charme Member Account, whether or not authorized by
    you. You agree to immediately notify Charme of any unauthorized use of your Charme Member Account or any other breach of security related to your use of
    the Charme Services.
</p>
<br/>
<p dir="ltr">
    9. The Charme Application may use GPS locator capabilities to identify your current location. You hereby expressly consent to receive SMS text messages
    from Charme regarding the Charme Member Services and as otherwise described in our privacy policy. The communication standards for the Charme Member
    Services include, but are not limited to: SMS, GPS, and web-based browser technology. In order to use the Charme Application, you must maintain an active
    account with a carrier of electronic communications through mobile devices.
</p>
<br/>
<p dir="ltr">
    10. Use of the Charme Member Services requires Internet access through your mobile device. You are responsible for all mobile carrier charges resulting
    from your use of the Charme Member Services, including from any notifications provided by the Charme Services. Charme does not guarantee that the Charme
    Member Services will be compatible with all devices or will be supported by all mobile carriers.
</p>
<br/>
<p dir="ltr">
    11. Charme reserves the right, in its sole discretion, to modify the Charme Member Services and the pricing structure for the provision of such services
    from time to time and without notice, including, without limitation, by removing, adding, or modifying portions of the Charme Site and Charme Application.
    Charme shall have no liability to you for any of the foregoing actions. If you object to any such changes, your sole recourse shall be to cease using the
    Charme Member Services. Continued use of the Charme Member Services following any such changes shall indicate your acknowledgment of such changes and
    satisfaction with all the Charme Member Services, including the pricing structure in relation thereto.
</p>
<br/>
<p dir="ltr">
    12. The features, information, and materials provided and depicted through the Charme Member Services are protected by copyright, trademark, patent, and
    other intellectual property laws. All text, graphical content, video, data, and other content made available through the Charme Member Services
    (collectively, the “Charme Content”) are provided to Charme Members by Charme solely to support the Charme Member’s permitted use of the Charme Member
    Services. The Charme Content may be modified from time to time by Charme in its sole discretion. Except as expressly set forth herein, no license is
    granted to Charme Members for any other purpose, and any other use of the Charme Members Services or the Charme Content by Charme Members shall constitute
    a material breach of this Agreement. Charme retains all rights in the Charme Members Services and Charme Content and any associated patents, trademarks,
    copyrights, mask work rights, trade secrets, or other intellectual property rights. No license, right, or interest in any trademarks of Charme or any third
    party is granted under this Agreement.
</p>
<br/>
<p dir="ltr">
    13. Subject to the terms and conditions of this Agreement, Charme grants Charme Members a non-exclusive, non-transferable, revocable license to use the
    Charme Application, in object code form only, on a Charme Member’s compatible mobile devices, solely to support the Charme Member’s permitted use of the
    Charme Member Services.
</p>
<br/>
<p dir="ltr">
    14. The Charme Member Services and Charme Content are offered solely for Charme Member’s personal use for the purposes described in this Agreement. Any and
    all other uses are prohibited. Charme expressly reserves all its rights and remedies under applicable state and federal laws. Charme reserves the right, in
    its sole discretion, to refuse service, terminate Charme Member Accounts, remove or edit content, cancel bookings, or deny access to the Charme Member
    Services. You agree not to (and not to allow any third party to): (1) use any robot, spider, scraper, or other automatic or manual device, process, or
    means to access the Charme Member Services or copy any Charme Content, except as expressly authorized by Charme; (2) utilize any device, software, or
    routine that will interfere or attempt to interfere with the functionality of the Charme Member Services; (3) use the Charme Member Services or Charme
    Content for any illegal purpose; or (4) publicly disseminate information regarding the performance of the Charme Member Services or Charme Content.
</p>
<br/>
<p dir="ltr">
    15. Charme may suspend your ability to use all or any element of the Charme Member Services or may terminate this Agreement effective immediately, without
    notice or explanation. Without limiting the foregoing, Charme may suspend your access to the Charme Member Services if we believe you to be in violation of
    any part of this Agreement. After any suspension or termination, you may or may not be granted permission to use the Charme Member Services or re-establish
    a Charme Member Account. You agree that Charme shall not be liable to you for any termination of this Agreement or for any effects of any termination of
    this Agreement. You are always free to discontinue your use of the Charme Member Services at any time. You understand that any termination of your Charme
    Member Account may involve deletion of any content stored in your Charme Member Account for which Charme will have no liability whatsoever.
</p>
<br/>
<p dir="ltr">
    16. You represent and warrant: (1) the accuracy and truthfulness of all information you provide to Charme for uploading to the Charme Site and Charme
    Application or otherwise, and (2) no information you upload to the Charme Site or Charme Application shall infringe any third-party rights (including,
    without limitation, intellectual property rights and rights of privacy or publicity). You will indemnify, hold harmless, and (at Charme’s request) defend
    Charme, and its representatives, agents, directors, managers, officers, employees, and shareholders (collectively, the “Charme Parties”) from and against
    all claims, injuries, illnesses, damages and liabilities (“Claims”) resulting from (1) your use of the Charme Member Services, (2) any Claim made by a
    Charme Professional against the Charme Parties arising out of or relating to the acts or omissions of a Charme Member receiving beauty and fitness services
    from a Charme Professional, or (3) any breach or alleged breach by you of this Agreement.
</p>
<br/>
<p dir="ltr">
    17. TO THE MAXIMUM EXTENT PERMITTED BY LAW IN NO EVENT SHALL THE CHARME PARTIES BE LIABLE FOR ANY INJURIES, LOSSES, CLAIMS, OR DIRECT DAMAGES OR ANY
    SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER BASED IN CONTRACT, TORT, OR OTHERWISE, AND EVEN IF ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGES, WHICH ARISE OUT OF OR ARE ANY WAY CONNECTED WITH (1) THIS AGREEMENT, (2) ANY USE OF THE CHARME MEMBER SERVICES BY THE CHARME
    MEMBER (3) ANY FAILURE OR DELAY (INCLUDING, BUT NOT LIMITED TO, THE USE OR INABILITY TO USE ANY COMPONENT OF THE CHARME BOOKING ENGINE), OR (4) A CHARME
    PROFESSIONAL’S ACTS OR OMISSIONS AT A CHARME MEMBER’S RESIDENCE OR OTHER LOCATION WHETHER RELATED TO THE CHARME PROFESSIONAL’S PROVISION OF BEAUTY AND
    FITNESS SERVICES TO A CHARME MEMBER OR OTHERWISE.
</p>
<br/>
<p dir="ltr">
    18. CHARME EXPRESSLY DISCLAIMS ALL REPRESENTATIONS, WARRANTIES, CONDITIONS, OR INDEMNITIES, EXPRESS OR IMPLIED IN RESPECT OF THE CHARME MEMBER SERVICES,
    INCLUDING, WITHOUT LIMITATION, ANY REPRESENTATION OR WARRANTY AS TO THE INFORMATION PROVIDED ABOUT CHARME PROFESSIONALS AND THE ACTS OR OMISSIONS OF CHARME
    PROFESSIONALS.
</p>
<br/>
<p dir="ltr">
    19. THE QUALITY OF THE CHARME PROFESSIONAL SERVICES IS ENTIRELY THE RESPONSIBILITY OF THE CHARME PROFESSIONAL WHO PROVIDES SUCH BEAUTY AND FITNESS SERVICES
    TO YOU. YOU UNDERSTAND, THEREFORE, THAT BY USING THE SERVICES OF A CHARME PROFESSIONAL, YOU MAY BE EXPOSED TO BEAUTY AND FITNESS SERVICES THAT ARE
    POTENTIALLY DANGEROUS, UNSAFE OR OTHERWISE OBJECTIONABLE, AND THAT YOUR USE OF THE CHARME MEMBER SERVICES AND BOOKING OF A CHARME PROFESSIONAL IS AT YOUR
    OWN RISK.
</p>
<br/>
<p dir="ltr">
    20. YOU ACKNOWLEDGE THAT YOUR RELIANCE ON ANY INFORMATION PROVIDED BY CHARME OR BY ANY CHARME PROFESSIONAL TO YOU IS SOLELY AT YOUR OWN RISK AND YOU ASSUME
    FULL RESPONSIBILITY FOR ALL RISK ASSOCIATED THEREWITH, AS ALLOWABLE TO THE EXTENT OF THE LAW.
</p>
<br/>
<p dir="ltr">
    21. ALTHOUGH CHARME PROVIDES INFORMATION ABOUT CHARME PROFESSIONALS, CHARME DOES NOT PROVIDE THE SERVICES RENDERED BY CHARME PROFESSIONALS. CHARME REQUESTS
    BACKGROUND INFORMATION OF ITS CHARME PROFESSIONALS, BUT CHARME DOES NOT AND CANNOT GUARANTEE THE ACCURACY OR COMPLETENESS OF ANY SUCH INFORMATION-GATHERING
    OR THAT A PARTICULAR CHARME PROFESSIONAL IS ADEQUATELY QUALIFIED TO PERFORM ANY GIVEN SERVICE.
</p>
<p dir="ltr">
    22. THE FOREGOING DISCLAIMERS APPLY TO THE MAXIMUM EXTENT PERMITTED BY LAW. YOU MAY HAVE OTHER STATUTORY RIGHTS. HOWEVER, THE DURATION OF STATUTORILY
    REQUIRED WARRANTIES, IF ANY, SHALL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
</p>
<br/>
<p dir="ltr">
    23. You and Charme understand and agree that the disclaimers, exclusions, and limitations set forth herein are essential elements of this Agreement and
    that they represent a reasonable allocation of risk. In particular, you understand that Charme would be unable to make the Charme Member Services available
    to you except on these terms and agree that this Agreement will survive and apply even if any limited remedy specified in this Agreement is found to have
    failed of its essential purpose.
</p>
<br/>
<p dir="ltr">
    24. If any of the provisions, or portions thereof, of this Agreement are found to be invalid under any applicable statute or rule of law, then, that
    provision (or portion thereof) notwithstanding, this Agreement shall remain in full force and effect and such provision or portion thereof shall be deemed
    omitted.
</p>
<p dir="ltr">
    25. This Agreement and the rights granted and obligations undertaken hereunder may not be transferred, assigned, or delegated in any manner by Charme
    Members, but may be freely transferred, assigned, or delegated by Charme.
</p>
<br/>
<p dir="ltr">
    26. Any waiver of any provision of this Agreement, or a delay by any party in the enforcement of any right hereunder, shall neither be construed as a
    continuing waiver nor create an expectation of non-enforcement of that or any other provision or right.
</p>
<br/>
<p dir="ltr">
    27. Any and all controversies, disputes, demands, counts, claims, or causes of action (including the interpretation and scope of this clause, and the
    arbitrability of the controversy, dispute, demand, count, claim, or cause of action) between you and Charme shall exclusively be settled through binding,
    final and confidential arbitration by three (3) arbitrators in accordance with the provisions of the Arbitration and Conciliation Act Cap A18, Laws of the
    Federation of Nigeria 2004 in effect on the date thereof.
</p>
<p dir="ltr">
    You and Charme must abide by the following rules: (1) ANY CLAIMS BROUGHT BY YOU OR CHARME MUST BE BROUGHT IN THE PARTY’S INDIVIDUAL CAPACITY, AND NOT AS A
    PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING; (2) THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS, MAY
    NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING, AND MAY NOT AWARD CLASS-WIDE RELIEF; (3) Charme also reserves the right in its
    sole and exclusive discretion to assume responsibility for all of the costs of the arbitration; (5) the arbitrator shall honor claims of charme and privacy
    recognized at law; (4) the arbitration shall be confidential, and neither you nor we may disclose the existence, content or results of any arbitration,
    except as may be required by law or for purposes of enforcement of the arbitration award; (5) the arbitrator may award any individual relief or individual
    remedies that are permitted by applicable law; and (6) each side pays its own attorneys’ fees and expenses unless there is a statutory provision that
    requires the prevailing party to be paid its fees and litigation expenses, and, in such instance, the fees and costs awarded shall be determined by the
    applicable law.
</p>
<p dir="ltr">
    If any part of this arbitration provision is deemed to be invalid, unenforceable, or illegal, or otherwise conflicts with the Rules and Procedures, then
    the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the invalid, unenforceable,
    illegal or conflicting part was not contained herein.
</p>
<br/>
<p dir="ltr">
    28. This Agreement is made under and shall be governed by and construed in accordance with the laws of the Federal republic of Nigeria, without giving
    effect to any principles that provide for the application of the law of another jurisdiction.
</p>